.feedback-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.5s ease;
  color: gray;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.form-group label {
  font-weight: bold;
}

.custom-placeholder::placeholder , .custom-select {
  font-size: 14px; /* Adjust the font size as needed */
}


.awesome-button {
  width: 30%;
  background-color: gray;
  border-color: gray;
  color: #fff;
  font-size: 16px;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.awesome-button span svg{
  font-size: 22px;
}

.awesome-button:hover {
  background-color: #E4AA3A;
  border-color: #F7F7F7;
  color: white;
}

.animate__heartBeat {
  animation-name: heartBeat;
}

@keyframes heartBeat {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.text-danger{
  font-size: 15px;
  padding: 1rem;
  font-weight: bold;
}


.opinion{
  border: 1px solid  red;
}


/* Media query for smaller screens */
@media (max-width: 768px) {
  .awesome-button {
      font-size: 14px; /* Adjust font size for smaller screens */
  }

  .awesome-button span svg{
    font-size: 18px;
    display: none;
  }
}