 #ArticleList .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform 0.3s;
    width: 70% !important;
 }

 #ArticleList .card:hover {
    transform: scale(1.05); 
  }

#ArticleList .card-body {
    background: white url('/pattern--type-1.svg') repeat center center;
    background-size: contain;
    }

#ArticleList .highlighted-search-term {
      background-color: yellow;
    }

#ArticleList .loading-spinner-container {
  height: 280px; 
}

#ArticleList .image-not-loaded {
  visibility: hidden;
  height: 0;
}

#ArticleList .image-loaded {
  visibility: visible;
  height: 240px; 

}

 .modal-not-loaded {
  visibility: hidden;
  height: 0;
  width: 0;
}

 .modal-loaded {
  visibility: visible;
  height: 160px; 
  max-width: 40%;
  max-height: 40vh;
}



#ArticleList .card-body {
  position: relative;
}


#ArticleList .image-container img {
  width: 100%;
  display: block;
  height: auto;
}

#ArticleList .image-container {

  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
  background: #DEB870 ;


}



#ArticleList .card-body:hover .image-container {
  width: 100%;
  left: 0;
}

#ArticleList .text {
  color: white;
  text-wrap: wrap;
  text-align: center;
  font-size: 14px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}




