#home {
    height: 55vh;
    /**     margin-bottom: 10vh;  **/
 }
#chambre_rep{
    background-image: url('/chambre_rep.png');

}
#chambre_cons{
    background-image: url('/chambre_cons.png');
}
 
#chambre_rep ,#chambre_cons {
    background-size: cover;
    background-position: center;
}


 #home .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform 0.3s;
  }


 #home .card:hover {
    transform: scale(1.05); 
  }

  
  /*
  #home .pub-title  {
     margin-top: 80px;
    margin-bottom: 50px; 
  }
  */


  