
.rating-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;


}
.rating-icons {
    display: flex;
    justify-content: center;
  }
  
  .rating-icons span {
    margin: 0 10px;
  }
  .rating-icons span  svg:hover {
    color: #E4AA3A;
  }
  
  .icon {
    font-size: 3rem;
    cursor: pointer;
    color: gray; /* Change the color of the active icon */
  }
  .rating-response{
    text-align: center;
  }
  .active {
    color: #E4AA3A;
  }
  